
body {font-family: 'Ubuntu Condensed', sans-serif;font-size: 15px; text-align: center;}

.container {
    background-color: oldlace;
}

.red {
    background-color: lightcoral;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightskyblue;
}

.yellow {
    background-color: lightgoldenrodyellow;
}

.cyan {
    background-color: darkturquoise;
}

.purple {
    background-color: violet;
}

.floater-section {
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}
.clearfix {
    clear: both;
}
/******************************SMALL SCREEN**************************/
@media (min-width: 450px){

    .small-width-25 {
    width: 25%;
    }

    .small-width-33 {
    width: 33.33333%;
    }

    .small-width-50 {
    width: 50%;
    }

    .small-width-100 {
    width: 100%;
    }   
}

/******************************MEDIUM SCREEN**************************/
@media (min-width: 768px){
    .med-width-25 {
    width: 25%;
}

    .med-width-33 {
    width: 33.333%;
}

    .med-width-50 {
    width: 50%;
    }

    .med-width-100 {
    width: 100%;
    }
}



/******************************LARGE SCREEN**************************/
@media (min-width: 992px){
    .large-width-25 {
        width: 25%;
    }
    
    .large-width-33 {
        width: 33.333%;
    }

    .large-width-50 {
    width: 50%;
    }

    .large-width-100 {
    width: 100%;
    }
}


nav.navbar {
    background-color: oldlace;
    width: 100%;
    padding: 10px 0px;
}

nav.navbar ul{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
    
}

nav.navbar li{
    border-bottom: 2px solid violet;
}

nav.navbar li:last-child{
    border-bottom: none;
}

nav.navbar a {
    font-size: 22px;
    line-height: 36px;
    text-decoration: none;
    color: violet;
}

.active {
    font-weight: 700;
}

@media(min-width: 768px){

    nav.navbar {
        background-color: oldlace;
        width: 100%;
        padding: 10px 0px;
    }
    
    nav.navbar ul{
        list-style: none;
        padding-left: 0px;
        margin: 0px;
        text-align: center;
        
    }
    
    nav.navbar li{
        border-right: 2px solid violet;
        display: inline-block;
        border-bottom: none;
        padding: 0px 10px;
    }
    
    nav.navbar li:last-child{
        border-bottom: none;
        border-right: none;
    }
    
    nav.navbar a {
        font-size: 22px;
        line-height: 36px;
        text-decoration: none;
        color:violet;
    }



@media(min-width: 992px){}
    nav.navbar {
        background-color: oldlace;
        width: 100%;
        padding: 10px 0px;
    }
    
    nav.navbar ul{
        list-style: none;
        padding-left: 0px;
        margin: 0px;
        text-align: center;
        
    }
    
    nav.navbar li{
        border-right: 2px solid violet;
        display: inline-block;
        border-bottom: none;
        padding: 0px 10px;
    }
    
    nav.navbar li:last-child{
        border-bottom: none;
    }
    
    nav.navbar a {
        font-size: 22px;
        line-height: 36px;
        text-decoration: none;
        color:violet;
    }
